#map {
  width: 45%;
  height: 660px;
  position: sticky;
  top: 15px;
}

#events-container {
  width: 50%;
  border: 1px solid lightgray;
  border-radius: 8px;
}

#events-container h2 {
  text-align: center;
}

.event-container {
  width: 100%;
  display: flex;
  gap: 15px;
  padding: 15px;
  cursor: pointer;
}

.event-img {
  max-width: 300px;
}

.event-info {
  width: 100%;
}

.event-info p {
  margin-bottom: 8px;
}

.event-date, .event-time {
  font-weight: 500;
  font-size: 14px;
}

.event-name {
  font-weight: 600;
}

.event-place {
  font-weight: 300;
}